.residential_services,
.commercial_services {
    margin-bottom: 14rem;
    @include mq($bpMedium) {
        margin-bottom: 8rem;
    }
    .posts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4.69%;
        padding: 4rem 0;
        position: relative;
        @include mq($bpMedium) {
            grid-template-columns: 1fr;
            padding: 3rem 0;
        }
        & .read-more {
            display: none;
            @include mq($bpMedium) {
                display: block;
            }
        }
        &::before,
        &::after {
            position: absolute;
            font-weight: normal;
            font-size: 100px;
            line-height: 75px;
            letter-spacing: 0.15em;
            font-family: $font_01;
            color: rgba(65, 41, 3, 0.07);
            @include mq($bpLarge) {
                font-size: 6.5rem;
                letter-spacing: 0.1em;
            }
            @include mq($bpMedium) {
                display: none;
            }
        }
        &::before {
            top: 4rem;
            left: -4rem;
        }
        &::after {
            bottom: 4rem;
            right: -4rem;
        }
        &:nth-child(2n+2) {
            background-color: #F7FFEF;
        }
        &:nth-child(4n+4) {
            background-color: #FFF4F0;
        }
        & .posts_item {
            max-width: 50rem;
            //* media Queries
            @include mq($bpLarge) {
                width: 40rem;
            }
            @include mq($bpMedium) {
                width: 100%;
                display: grid;
                grid-template-columns: 30% calc(70% - 2rem);
                margin-bottom: 4rem;
                column-gap: 2rem;
                padding: 0 3rem;
                &:last-of-type {
                    margin-bottom: 0;
                }
                & p {
                    grid-row: 2/3;
                    height: 4rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                .desktop-img {
                    display: none;
                }
            }
            &:nth-child(odd) {
                justify-self: end;
            }
            & h2 {
                margin-top: 2rem;
                font-weight: 600;
                font-size: 19px;
                line-height: 25px;
                /* or 132% */
                letter-spacing: 0.05em;
                margin-bottom: 1rem;
                color: #412903;
                @include mq($bpMedium) {
                    font-size: 15px;
                    width: 60%;
                    margin-top: 0;
                }
            }
            &>div {
                min-height: 8rem;
                @include mq($bpMedium) {
                    min-height: auto;
                    height: fit-content;
                }
            }
            & a {
                margin-top: 3rem;
                &.read-more {
                    display: none;
                    grid-column: 2/3;
                    margin-top: 2rem;
                    @include mq($bpMedium) {
                        display: block;
                    }
                }
                @include mq($bpMedium) {
                    display: none;
                }
            }
            & img {
                width: 100%;
                &.post_img--mobile {
                    display: none;
                    @include mq($bpMedium) {
                        display: block;
                        height: 100%;
                    }
                }
                @include mq($bpMedium) {
                    display: none;
                }
            }
            & .post_img--mobile {
                display: none;
            }
        }
    }
    .service_banner {
        margin-bottom: 9rem;
        padding: 0 3.91%;
        display: flex;
        height: 32rem;
        @include mq($bpMedium) {
            flex-direction: column-reverse;
            height: initial;
            padding: 0;
        }
        & figure {
            position: relative;
            flex-basis: 60%;
            @include mq($bpMedium) {
                height: 165px;
            }
            & .toggle-service {
                position: absolute;
                display: block;
                width: 32rem;
                padding-top: 3rem;
                cursor: pointer;
                padding-left: 4rem;
                height: 100%;
                background: linear-gradient(180deg, #f47520ce 25%, rgba(245, 127, 47, 0) 100%);
                background-blend-mode: multiply;
                transform: rotate( 270deg);
                @include mq($bpMedium) {
                    width: 165px;
                }
                & span {
                    color: $white;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 25px;
                    font-family: $font_01;
                    letter-spacing: 0.05em;
                    display: block;
                    width: 50%;
                    line-height: 1.2;
                    text-transform: uppercase;
                    @include mq($bpMedium) {
                        display: none;
                    }
                }
                & strong {
                    display: none;
                    width: fit-content;
                    position: absolute;
                    top: 1rem;
                    transform: rotate( 270deg);
                    &::before {
                        color: $white;
                        font-size: 25px;
                    }
                    @include mq($bpMedium) {
                        display: block;
                    }
                }
            }
            & img {
                object-fit: cover;
                width: 100%;
                height: 100%;
                @include mq($bpMedium) {
                    height: 165px;
                }
            }
        }
        & article {
            background: url(../assets/img/bg.png);
            flex-basis: 40%;
            display: flex;
            align-items: center;
            justify-content: center;
            & h1 {
                margin-bottom: 1rem;
                text-transform: uppercase;
                @include mq($bpMedium) {
                    font-size: 25px;
                }
            }
            &>div {
                max-width: 39rem;
                @include mq($bpMedium) {
                    height: 21rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    & p {
                        max-width: 30rem;
                    }
                }
            }
        }
    }
}

.service_modal {
    position: fixed;
    padding: 0 2rem;
    background-color: rgba(0, 0, 0, 0.397);
    overflow: hidden;
    height: 100vh;
    z-index: 100;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    & .close-modal {
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    &.active {
        @include mq($bpMedium) {
            display: flex;
        }
    }
    >div {
        border-radius: 15px;
        overflow: hidden;
        position: relative;
        & article {
            background-color: $white;
            padding: 0 3rem 0 3rem;
            padding-bottom: 4rem;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            position: relative;
            z-index: 5;
            & h3 {
                padding-top: 2rem;
                margin-bottom: 2rem;
            }
            &>div {
                margin-bottom: 3rem;
            }
        }
    }
    & img {
        height: 24rem;
        width: 100%;
        display: flex!important;
        margin-bottom: -4rem;
        object-fit: cover;
    }
}

.residential_services {
    .service_banner {
        @include mq($bpMedium) {
            flex-direction: column;
        }
        & figure {
            order: -1;
            & .toggle-service strong {
                left: 43%;
            }
        }
    }
    & .posts {
        &-1 {
            &::before {
                content: 'ANING';
                left: -2rem;
            }
            &::after {
                content: 'CLEAN';
            }
        }
        &-3 {
            &::before {
                content: ' ANING';
                left: -2rem;
            }
            &::after {
                content: 'CARPET';
                right: -4rem;
            }
        }
    }
}

.commercial_services {
    & .service_banner {
        & figure {
            & .toggle-service {
                top: 0;
                right: 0;
                transform: rotate(90deg);
                padding-left: 8rem;
            }
        }
    }
    & .posts {
        &-1 {
            &::before {
                content: 'NANCE';
                @include mq($bpLarge) {
                    left: -2rem;
                }
            }
            &::after {
                content: 'MAINT';
                @include mq($bpLarge) {
                    right: -3rem;
                }
            }
        }
        &-3 {
            &::before {
                content: ' DUCTS';
                left: -2rem;
            }
            &::after {
                content: 'CLEAN';
                right: -4rem;
                @include mq($bpLarge) {
                    right: -3rem;
                }
            }
        }
        &-5 {
            &::before {
                content: ' HOOLS';
                left: -2rem;
            }
            &::after {
                content: 'FLOOR';
                right: -4rem;
                @include mq($bpLarge) {
                    right: -2rem;
                }
            }
        }
    }
}