.contact-page {
    & .contact {
        grid-template-columns: 47.67% 1fr;
        grid-template-rows: 60rem;
        padding: 0 3.91%;
        column-gap: 0;
        padding-bottom: 8rem;
        @include mq($bpLarge) {
            grid-template-rows: 50rem;
            grid-template-columns: 46% 1fr;
        }
        @include mq($bpMedium) {
            grid-template-rows: 43rem;
            padding: 0;
            grid-template-columns: 100%;
            & h4 {
                text-align: center;
            }
        }
    }
    & .contact_info {
        justify-content: center;
        display: flex;
        flex-direction: column;
        background-position: center center;
        background-size: contain;
        background-image: url(/_nuxt/assets/img/bg.png);
        @include mq($bpMedium) {
            padding: 5rem 4.5rem;
        }
        & h2 {
            @include mq($bpLarge) {
                margin-bottom: 1rem;
            }
        }
        >div {
            width: 43rem;
            margin-left: auto;
            margin-right: 15rem;
            @include mq($bpLarge) {
                margin-right: 9rem;
                width: 35rem;
            }
            @include mq($bpMedium) {
                width: 100%;
            }
        }
    }
    & .home-form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../assets/img/contact-bg.jpg);
        @include mq($bpMedium) {
            padding: 5rem 4rem 8rem 4rem;
        }
    }
    & .form-home {
        max-width: 57rem;
        & select {
            width: 100%;
            border: 1px solid #AEAEAE;
            outline: none;
            border-radius: 5px;
            padding: 1rem 2rem;
            &,
            & option {
                color: #939393;
            }
        }
        @include mq($bpLarge) {
            max-width: 45rem;
        }
    }
}