.contact-page {
    & .contact {
        grid-template-columns: 80rem 1fr;
        grid-template-rows: 60rem;
        padding: 0 3.91%;
        padding-bottom: 8rem;
    }
    & .contact_info {
        justify-content: center;
        display: flex;
        flex-direction: column;
        background: url(../assets/img/bg.png);
        >div {
            width: 40rem;
            margin-left: auto;
            margin-right: 11rem;
        }
    }
}