.home_service {
    padding: 0 3.91%!important;
    margin-bottom: 13rem;
    position: relative;
    overflow: visible!important;
    .swiper-pagination {
        position: absolute;
        bottom: -6rem!important;
        left: 0;
        right: 0;
        & .swiper-pagination-bullet {
            background-color: #CFCFCF;
            opacity: 1;
            &:not(:last-of-type) {
                margin-right: 1rem;
            }
        }
        & .swiper-pagination-bullet-active {
            background-color: $orange;
        }
    }
    & &_item {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: 52rem;
        height: 52rem;
        &>div {
            background-size: cover;
            background-position: center center;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: $white;
                opacity: .55;
            }
            & article {
                background-color: $white;
                width: calc(100% - 4rem);
                height: calc(100% - 4rem);
                justify-content: center;
                align-items: center;
                flex-direction: column;
                display: flex;
                position: relative;
                z-index: 2;
                & h2 {
                    margin-bottom: 3rem;
                }
                & li {
                    list-style-type: disc;
                    margin-left: 12rem;
                    @extend .text;
                    @include mq($bpLarge) {
                        margin-bottom: 5px;
                        margin-left: 2rem;
                    }
                }
            }
        }
        & figure {
            width: 100%;
            & img {
                height: 100%;
                width: 100%;
            }
        }
    }
}