.navbar {
    display: flex;
    padding: 0 3.91%;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    //
    &,
    &__list,
    & .fixed-social {
        display: flex;
        align-items: center;
    }
    //
    .logo {
        margin-right: 5rem;
        display: block;
    }
    &__list {
        & * {
            font-family: $font_01;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 29px;
            /* or 181% */
            letter-spacing: 0.05em;
            text-transform: capitalize;
            @include transition;
        }
        & li {
            margin-right: 2rem;
            &:nth-child(2) {
                display: none;
            }
            & a[href*="home"] {
                display: none;
            }
<<<<<<< HEAD
            &:hover {
=======
            & a {
                border-bottom: 2px solid transparent;
            }
            & .nuxt-link-exact-active.nuxt-link-active,
            & a:hover {
                border-bottom: 2px solid $orange;
>>>>>>> 241f46beaef9906ed025d165890a7613729bb655
                & a {
                    color: $orange;
                }
            }
        }
        & a {
            display: block;
            transition: all .4s ease-in-out;
            &:before {
                content: '';
                width: 0;
                height: 2px;
                background: $orange;
                transition: all .4s linear;
            }
        }
    }
    & .fixed-social {
        margin-left: auto;
    }
}