.page-info {
    display: flex;
    justify-content: center;
    column-gap: 8rem;
    margin-bottom: 11rem;
    position: relative;
    &::before,
    &::after {
        position: absolute;
        color: rgba(65, 41, 3, 0.07);
        font-family: $font_01;
    }
    &::after {
        content: 'ABOUT';
        right: 0;
        font-size: 16rem;
        top: -3.5rem;
        letter-spacing: 0.25em;
    }
    &::before {
        content: 'ABOUT US';
        left: 5%;
        top: 37%;
        font-size: 10rem;
        bottom: auto;
        transform: rotate( 270deg);
        letter-spacing: 0.15em;
    }
    & figure {
        width: 42rem;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    & .home-about-info {
        width: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        & h4 {
            margin-bottom: 1.5rem;
            text-transform: uppercase;
        }
        & .title {
            margin-bottom: 3.5rem;
        }
        & p:not(:last-of-type) {
            margin-bottom: 1.5rem;
        }
        & a {
            margin-top: 4rem;
            @include btn-creator(5px, $orange, 15.5rem, 45px);
            background-color: $orange;
            color: $white;
            text-transform: capitalize;
        }
    }
}

.page-info.about_info {
    &::after {
        top: 0.5rem;
    }
}