.perks {
    display: flex;
    @include margin-x;
    justify-content: center;
    column-gap: 9rem;
    padding: 11rem (3.91% + 9.4%);
    & .perk {
        display: grid;
        grid-template-columns: 12rem 26rem;
        column-gap: 2.5rem;
        & figure {
            display: flex;
            justify-content: center;
            align-items: center;
            grid-column: 1/2;
            height: 12rem;
            border-radius: 5px;
            overflow: hidden;
            border: 1px solid;
            transition: all .3s ease-in-out;
            &.perk-figure-1 {
                background-color: #E8EEE2;
                border-color: #E8EEE2;
            }
            &.perk-figure-2 {
                background-color: #FFE9E2;
                border-color: #FFE9E2;
            }
            &.perk-figure-3 {
                background-color: $cream;
                border-color: $cream;
            }
            @media(min-width: 1025px) {
                &:hover {
                    background-color: $white;
                    border-color: $black;
                    .perk_brown {
                        display: none;
                    }
                    .perk_color {
                        display: block;
                    }
                }
            }
            img {
                transition: all .3s ease-in-out;
                &.perk_color {
                    display: none;
                }
            }
        }
        & .perk_info {
            display: flex;
            justify-content: center;
            flex-direction: column;
            & h3 {
                font-weight: 600;
                font-size: 17px;
                line-height: 22px;
                width: 50%;
                /* or 129% */
                letter-spacing: 0.05em;
            }
        }
    }
}