@mixin two-color-title($fsize1, $fsize2, $color, $fweight) {
    font-family: $primary-font;
    width: fit-content;
    text-transform: uppercase;
    & p {
        font-size: $fsize1;
    }
    & strong {
        color: $color;
        font-weight: $fweight;
        font-size: $fsize2;
        display: block;
        letter-spacing: 0.025em;
    }
}

@mixin title($fontBig, $fontSmall, $font-2, $textTransform) {
    line-height: 1.7;
    & h1,
    & h2,
    & h3,
    & h4,
    strong {
        font-size: $fontBig;
        font-family: $font_01;
        color: $yellow;
        font-weight: 700;
        letter-spacing: 0.025em;
        display: block;
        line-height: 35px;
        letter-spacing: 0.03em;
        display: block;
        text-transform: initial;
        text-transform: $textTransform;
        @include mq-min($bpMedium) {
            line-height: 45px;
            letter-spacing: 0.023em;
        }
    }
    &,
    & span,
    &>p {
        display: block;
        text-transform: $textTransform;
        font-weight: 700;
        font-size: $fontSmall;
        font-family: $font-2;
        color: $black;
        width: 100%;
        letter-spacing: 0.23em;
    }
}

.text {
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.05em;
    font-family: $font_02;
    color: $black;
    font-weight: 300;
    @include mq-min($bpMedium) {
        font-size: 14px;
    }
    @include mq-min($bpLaptop) {
        font-size: 15px;
    }
    @include mq-min($bpLarge) {
        font-size: 16px;
    }
    @include mq($bpMedium) {
        font-size: 15px;
    }
    @include mq($bpLarge) {
        line-height: 20px;
    }
}

.read-more {
    color: $orange;
    font-style: normal;
    font-weight: 600;
    font-family: $font_01;
    font-size: 15px;
    display: block;
}

h4 {
    font-weight: normal;
    font-size: 15px;
    line-height: 13px;
    /* or 90% */
    letter-spacing: 0.25em;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.title {
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
    /* or 133% */
    letter-spacing: 0.01em;
    color: #412903;
    @include mq($bpLarge) {
        font-size: 25px;
    }
}


/*
*Navbar har letter-spacing av 0.05em i Desktop og line-height av 11px;
*H4 har letter-spacing av  0.025
*title har letter-spacing av  0.01
*/