.is-flex {
    display: flex;
}

.btn_general {
    @include btn-creator(5px, $orange, 15rem, 45px);
    background-color: $orange;
    color: $white;
    font-size: 15px;
    transition: all .3s ease-in-out;
    @include mq($bpLarge) {
        @include btn-creator(5px, $orange, 13rem, 38px);
    }
    @media(min-width: 1025px) {
        &:hover {
            background-color: $white;
            color: $black;
            border-color: $black;
        }
    }
}

.header-responsive-picture {
    display: none;
    @include mq($bpMedium) {
        display: initial;
    }
    &>img {
        width: 100%;
        height: 210px;
        opacity: .8;
    }
}

.arrow {
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 42%;
    z-index: 100;
    color: $orange;
    font-weight: 600;
    font-size: 3rem;
    cursor: pointer;
    transition: all .3s ease;
    display: none;
    & i {
        font-size: 1.6rem;
        &::before {
            color: $orange!important;
        }
    }
    @include mq($bpLarge) {}
    @include mq($bpMedium) {
        display: none;
    }
    &.prev {
        left: 0;
        transform: rotate(180deg);
    }
    &.next {
        right: 0;
    }
}

.page-enter-active,
.page-leave-active {
    transition: all .5s ease-in-out;
}

.page-enter,
.page-leave-to {
    opacity: 0.05;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

img[lazy=loaded] {
    opacity: 1;
    transform: scale(1);
    transition: background 0.5s, opacity 0.5s, transform 0.5s;
}

img[lazy=error] {}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    img[lazy=loading] {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        border: 5px solid $blue;
        /* Light grey */
        border-top: 5px solid $orange;
        /* Blue */
        border-radius: 50%;
        width: 6rem!important;
        height: 6rem!important;
        animation: spin 1s linear infinite;
    }
}